@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper1 {
  max-width: 1185px;
  height: 100%;
  overflow: hidden;
}
.swiper2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper3 {
  width: 1180px;
  height: 100%;
  overflow: hidden;
}
.mySwiper1 .swiper-slide {
  width: 220px;
  height: 222px;
}

.mySwiper3 .swiper-slide {
  width: 280px;
  height: 280px;
}
.custom-next-one,
.custom-prev-one {
  cursor: point;
}

.custom-next-one:hover,
.custom-prev-one:hover {
  background-color: #e5e5e5;
}

.content {
  display: none;
}
.content.active {
  display: block;
}
.btn {
  padding: 7px 20px;
  border: 1px solid crimson;
  border-radius: 80px;
  display: inline-flex;
}
